$color-first: #F0F1F1;
$color-second: #5E5322;
$color-statistics: #FAD648;
$color-fourth: #737373;
$color-fourth: #3C3C3C;
$color-for-steps: #F0F1F1;
$color-border: #3C3C3C;
$color-numberColumn: #5E5322;